@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.recipe-img {
    width: 100%;
    height: auto;
}

.highlight {
    border-bottom: 2px solid rgb(41, 82, 67);
}
.bigTitle{
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
  }