#loginForm {
    /* background-color: #fffdfd; */

    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}



input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #61c264;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
